.container {
  max-width: 95%;
}
@media (min-width: 640px) {
  .container { max-width: 40rem; }
}
@media (min-width: 768px) {
  .container { max-width: 32rem; }
}
@media (min-width: 1024px) {
  .container { max-width: 48rem; }
}
@media (min-width: 1280px) {
  .container { max-width: 64rem; }
}
@media (min-width: 1536px) {
  .container { max-width: 80rem; }
}

.page-title {
  @apply text-4xl mt-4 mb-8;
}
